[Feature Request]能否增加DTLS支持？

- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
能否增加DTLS支持？Shadowsocks可以支持TCP，UDP，TCP+UDP。現在Trojan比SS TCP+UDP慢。

Please read RFC 6347 Section 3.