[Feature Request] Support clients connecting via HTTP proxy

- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Clients inside a corporate environment often have to connect through HTTP proxies, with or without proxy authentication.

**Is this problem relevant to what trojan should care about?**
Very likely relevant, for users who have to first get through their own corporate firewall before worrying about GFW. :wink:

**Describe the solution you'd like**

1. trojan clients (and also applicable to forward and NAT clients) should support HTTP forward proxies that:
   - establish tunnels using the CONNECT method ([RFC7231 section 4.3.6](https://tools.ietf.org/rfc/rfc7231#section-4.3.6))
   - enforce username/password checking by the basic authentication scheme ([RFC2617 section 2](https://tools.ietf.org/rfc/rfc2617#section-2))
2. Client side can specify something like this in client.json (also applies to forward.json and nat.json):
```json
{
    "proxy": {
        "type": "http_proxy",
        "server": "proxy.my.corp",
        "port": 8080,
        "authtype": "basic",
        "authuser": "username",
        "authpassword": "password"
    }
}
```
3. trojan client will, instead of connecting to trojan server’s `remote_addr:remoteport` directly, connect to the HTTP proxy and make a CONNECT method request to `remote_addr:remote_port`, using `username:password` as proxy authentication credentials if specified.
4. Documentation probably needs to mention:
   - what kinds of proxies are supported;
   - the fact that most corporate HTTP proxies will only allow CONNECT method through certain ports (e.g. only 443 and 563), so that will restrict the choice for `remote_port`.

**Describe alternatives you've considered**
Have something like [proxytunnel](https://github.com/proxytunnel/proxytunnel) in the middle between the trojan client and server. trojan client connects to proxytunnel; proxytunnel takes care of the HTTP proxying before ultimately connecting to trojan server.

**Additional context**
Currently using stunnel, which has proxy authentication support and, just like trojan, everything on the wire is TLS. But stunnel has no user authentication so one has to rely on TLS-PSK or client certificates, both of which are distinguishable from a plain https web site. trojan, with proxy authentication, would be perfect for users behind GFW and also a corporate firewall.

#396